.grid-list{
    width: 80%;
    margin: 10px auto;
}

.list-elt {
    margin: 2rem;
}

.sub-img{
    height: 20%;
    width: 40%;
    margin: 10px 10rem;
}

.img-right{
    display: inline-flex;
}
.img-left{
    display: inline-flex;
}

.sub-list{
    width: 300px;
}