<mat-toolbar color="primary">
<div class="navbar-style" >
    
        <div style="margin: auto 7rem auto 1rem;">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
                <mat-icon>menu</mat-icon>
                <span>Our products</span>
              </button>
        </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/" routerLinkActive="active">
              <mat-icon>web</mat-icon>
              <span>Home</span>
            </button>
            <button mat-menu-item routerLink="/shares">
              <mat-icon>list</mat-icon>
              <span>Shares</span>
            </button>
            <button mat-menu-item routerLink="/wallet">
              <mat-icon>account_balance</mat-icon>
              <span>Wallet (Work in progress)</span>
            </button>
            <button mat-menu-item routerLink="/stats">
              <mat-icon>donut_large</mat-icon>
              <span>Stats</span>
            </button>
            <button mat-menu-item routerLink="/godmode">
              <mat-icon>event_seat</mat-icon>
              <span>God mode</span>
            </button>
            <button mat-menu-item routerLink="/cart">
              <mat-icon>shopping_cart</mat-icon>
              <span>Cart</span>
            </button>
          </mat-menu>
    
        <button mat-button  class="margin: auto 2rem auto 10rem">
            <span style="font-size: large" routerLink="/">Invest'Easy</span>
        </button>
        
        <span class="example-spacer"></span>
          

        
        <div *ngIf="this.authenticationService.currentUserValue !== null; else elseBlock" style="margin: auto 2rem;">
    
            <button mat-icon-button [matMenuTriggerFor]="accountIn" aria-label="">
                <mat-icon>account_circle</mat-icon>
              </button>
              <mat-menu #accountIn="matMenu">
                <button mat-menu-item routerLink="/profile">
                  <mat-icon>account_circle</mat-icon>
                  <span>My account</span>
                </button>
                <button mat-menu-item routerLink="/" (click)="onLogout()">
                  <mat-icon>close</mat-icon>
                  <span>Log out</span>
                </button>
              </mat-menu>
        </div>
        <ng-template  #elseBlock style="margin: auto 2rem;">
    
          <button mat-icon-button [matMenuTriggerFor]="accountOut" aria-label="">
              <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #accountOut="matMenu">
              <button mat-menu-item routerLink="/signin">
                <mat-icon>login</mat-icon>
                <span>Login</span>
              </button>
              <button mat-menu-item routerLink="/register">
                <mat-icon>how_to_reg</mat-icon>
                <span>Register</span>
              </button>
            </mat-menu>
      </ng-template>
</div>
  </mat-toolbar>
  
