<button mat-raised-button color="primary" routerLink="/shares" style="margin: 1rem auto 2rem 2rem">Back</button>
<div *ngIf="currentShare" style="width: 70%; margin: 50px auto" >
    <mat-card class="mat-elevation-z8" style="text-align: center;">
        <mat-card-title>
            {{currentShare.name}}
        </mat-card-title>
        <mat-card-content>
            <mat-list >
                <mat-list-item *ngFor="let info of currentShare | keyvalue" >
                    <div *ngIf="info.key !== 'tags';else tags">
                        {{info.key}} : {{info.value}}
                    </div>
                    <ng-template #tags>
                        <mat-chip-list *ngFor="let tag of info.value">
                            <mat-chip color="primary">{{tag}}</mat-chip>
                        </mat-chip-list>
                        
                        
                    </ng-template>
                </mat-list-item>
            </mat-list>
            <div *ngIf="true" class="select-nbshare">
                <mat-form-field>
                    <mat-label>Number of Share</mat-label>
                    <input matInput placeholder="Enter a number" #nbShare>
                </mat-form-field>
                <button mat-raised-button (click)="addCart(nbShare.value, currentShare)" color="primary" class="btn-share">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div>
    <mat-card class="mat-elevation-z8" style="margin: 4rem auto;width: 80%;text-align: center;">
        <div [hidden]="!chart" >
            <canvas id="canvas">{{ chart }}</canvas>
        </div>
    </mat-card>
   
</div>