.share-table {
  
    width: 90%;
    margin: 50px auto 0 auto;

  }

tr.tr-table:hover {
  background-color: lightsteelblue;
  cursor: pointer;
}
p {
    margin: 75px auto 0 auto;
    padding: 0;
    text-align: center;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
