<mat-card style="width: 80%; margin: 50px auto">
    <mat-card-title>
        Your profile
    </mat-card-title>
    <mat-card-content>
        <ul style="list-style: none;">
            <li>Name : {{user.name}}</li> 
            <li>Firstname : {{user.firstname}}</li> 
            <li>Email : {{user.email}}</li> 
            <li>Password : {{user.password}}</li> 
            <li>Address : {{user.adress}}</li> 
            <li>Nationality : {{user.nationality}}</li> 
            <li>Telephone : {{user.telephone}}</li> 
            <li>Birthdate : {{user.birthDate}}</li> 
        </ul>
    </mat-card-content>
</mat-card>